.admin {
    background-color: #fff;

    .wrapper {
        ul {
            li {
                margin-bottom: 5px;
                font-size: 18px;
                
            }
        }
    }
}